#cont{
  background-color: lightgray;
}
.info{
  display: inline-block;
  padding-left: 40px;
  font-size: 15px;
  font-family: 'Lucida Console', sans-serif;
}
#con{
  margin: 15% auto;
  font-family: 'BenchNine', sans-serif;
}
.info1{
  display: inline-block;
  padding-left: 40px;
  font-size: 15px;
  font-family: 'Lucida Console', sans-serif;
}
